@media (min-width:960px) and (max-width:1600px){
    .container{
        margin:10vw;
        width:85vw;
    }

    .frame{
       margin-top:10vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:5vw 15vw;
        
    }
    .text{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1.2fr; 
      
        
       
    }

   
    .text1{
     
       
        
        font-family: 'PT Serif Caption', serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: -0.1rem;
        margin-top:10vh;
       
    }
    .text2{
        margin-top:21vh;
        margin-right:2%;
        
    }
    .para2{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 3rem;
        
    }
    .para3{
      
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size:3rem;
    }
    .grid-item2,.grid-item5{
        margin-top:25vh;
    }
    .class{
        display: flex;
    }
    .vertical{
        writing-mode: vertical-rl;
        font-family: 'PT Serif Caption', serif;
        font-weight: 400;
        font-size:1.5rem;
    
    }
   
    .name{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size:2.5rem;
        letter-spacing: 0.05rem;
    
    }  
}
@media (max-width:960px){
    .container{
        margin:5vw;
        width:85vw;
    }

    .frame{
       margin-top:10vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:5vw 20vw;
        
    }

    .text{
        grid-column: span 2;
        width:80%;
    }
   
    .text1{
        /* grid-column:  span 2; */
        font-family: 'PT Serif Caption', serif;
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: -0.1rem;
        margin-top:10vh;
       
    }

    .para2{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 3rem;
        
    }
    .para3{
        
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size:3rem;
    }

    .class{
        display: flex;
    }
    .vertical{
        writing-mode: vertical-rl;
        font-family: 'PT Serif Caption', serif;
        font-weight: 400;
        font-size:1.5rem;
    
    }
    .down{
        margin-top:25vh;
    }
    .name{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size:2.5rem;
        letter-spacing: 0.05rem;
    
    }
}